<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile" fileName="logs/info.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="MyFile2" fileName="logs/exceptions.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="MyFile3" fileName="logs/warn.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>
    <loggers>

        <Logger name="MyFile" level="info">
            <appender-ref ref="MyFile"/>
        </Logger>

        <Logger name="MyFile2" level="error">
            <appender-ref ref="MyFile2"/>
        </Logger>

        <Logger name="MyFile3" level="warn">
            <appender-ref ref="MyFile3"/>
        </Logger>


        <root level="error">
            <appender-ref ref="Console"/>
        </root>

    </loggers>
</configuration>